@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px)
{
  html {
    font-size: 62%;
  }
}

*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}